---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HomePosts from "../components/HomePosts.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const posts = await Astro.glob("../posts/*.md");
---

<!doctype html>
<html lang="en-us">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<nav>
			<a href="/">{SITE_TITLE}</a>
		</nav>
		<p>{SITE_DESCRIPTION}</p>
		<hr />
		<main>
			<p>Recent posts</p>

			<HomePosts allPosts={posts} />
			<hr />

			<p>
				You can also <a href="https://blog.sycamore.garden/rss.xml">
					subscribe with RSS.
				</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
